<a href="{{ product.url }}" class="container">
  <div class="products">
    <div class="top">
        <img loading="lazy" class="prod-img" loading="lazy" width="420" height="250" src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="Coffeeza Coffee">
        <p class="label-one">
          {% if product.label-one %}
            {{ product.label-one }}
          {% else %}
            Newly Launched
          {% endif %}
        </p>
    </div>
    <div class="data-right">
        {% if product.compare_at_price %}
            {% assign original_price = product.compare_at_price %}
            {% assign discounted_price = product.price %}
            {% assign percentage_off = original_price | minus: discounted_price | times: 100 | divided_by: original_price | round %}

            <p class="label-two">
              {{ percentage_off }}% off
            </p>
          {% endif %}
      <div class="mid">
          <p class="label-three d-none">{{ product.type }}</p>
          <h3 class="prod-heading">{{ product.title }}</h3>
          <p class="prod-desc">{{ product.description | strip_html | slice: 0, 150 }}</p>
          <div class="price-wrapper">
              <p class="price">{{ product.price | money }}</p>
              <p class="discount">{{ product.compare_at_price | money }}</p>
          </div>
          <div class="add-to-cart-wrapper">
              <p class="cart-label">KNOW MORE</p>
              
          </div>
          <div class="star-ratings">
            {%- if settings.enable_product_reviews_collection and product.metafields.reviews.rating_count != blank -%}
              {%- assign rating_count = product.metafields.reviews.rating_count | plus: 0 -%}
              {%- if rating_count > 0 -%}
                <div class="theme-product-reviews-summary product-block__rating">
                  {% render 'rating', rating_value: product.metafields.reviews.rating.value %}
                  <span class="cc-rating-custom-caption">
                    {{ rating_count }} {{ 'products.product.reviews_link' | t: count: rating_count }}
                  </span>
                </div>
              {%- endif -%}
            {%- endif -%}
          </div>
      </div>
      <div class="bottom ">
        <h4 class="bottom-title">
          {% if product.type == "Coffee Capsules" %}
              Best Enjoyed As
          {% elsif product.type == "Capsule Coffee Machine" %}
              Your Barista At Home
          {% elsif product.type == "ground coffee" %}
              Recommended Brewing Style
          {% elsif product.type == "Pour Over Coffee Bags" %}
              Single-Serve Specialty Coffees
          {% else %}
              Extra Specifications
          {% endif %}
        </h4>
        <div class="more-details-wrapper">
          <div class="more-details">
              {% if product.metafields.custom.product_bottom_footer_image_one %}
                <img loading="lazy" loading="lazy" width="35" height="35" src="{{ product.metafields.custom.product_bottom_footer_image_one | img_url: 'large' }}" alt="Coffeeza Coffee">
              {% endif %}
              <p>{{ product.metafields.custom.product_footer_label }}</p>
          </div>
          <div class="more-details">
              {% if product.metafields.custom.product_bottom_footer_image_one %}
                <img loading="lazy" loading="lazy" width="35" height="35" src="{{ product.metafields.custom.product_bottom_footer_image_two | img_url: 'large' }}" alt="Coffeeza Coffee">
              {% endif %}
              <p>{{ product.metafields.custom.product_footer_label_two }}</p>
          </div>
          <div class="more-details">
              {% if product.metafields.custom.product_bottom_footer_image_one %}
                <img loading="lazy" loading="lazy" width="35" height="35" src="{{ product.metafields.custom.product_bottom_footer_image_three | img_url: 'large' }}" alt="Coffeeza Coffee">
              {% endif %}
              <p>{{ product.metafields.custom.product_footer_label_three }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>